RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^api/youtube/?$ api/youtube.php [L]
RewriteRule ^api/streams/?$ api/streams.php [L]
RewriteRule ^api/all/?$ api/all.php [L]
